$theme-colors: (
  "bbb": #E4C3AD
);
@import "../node_modules/bootstrap/scss/bootstrap";


*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
body{

background: #020202;
}
.nav-item:hover{
		color:white;
			background: red;
			box-shadow: 0 0 10px red,0 0 40px red,
						0 0 80px red;
						transition: 1s;
	}
#index{
	overflow: hidden;
	background: #020202;
	.box{
		position: absolute;
		width: 20vw;
		height: 80VH;
		background-color: red;
		margin-left: 5px;
	}
	section{
		height: 100vh;
	}
	h1{
		font-family: comic-sans;
		letter-spacing: 14px;
		color: #5E6272;

	}
	#start{
		position: relative;
		display: inline-block;
		padding: 15px 30px;
		color: red;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 24px;
		overflow: hidden;
		transition: 0.2s;

		
	}
	#start:hover{
			color:white;
			background: red;
			box-shadow: 0 0 10px red,0 0 40px red,
						0 0 80px red;
						transition: 4s;
		}
	#start span{
		position: absolute;
		display: block;
	}
	#start span:nth-child(1){
		top: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg,transparent,red);
	}
	#start:hover span:nth-child(1){
		left: 100%;
		transition:1s;
	}
		#start span:nth-child(3){
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg,transparent,red);
	}
		#start:hover span:nth-child(3){
		right: 100%;
		transition:0.5s;
	}
		#start span:nth-child(2){
		top: -100%;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg,transparent,red);
	}
		#start:hover span:nth-child(2){
		top: 100%;
		transition:1s;
	}
		#start span:nth-child(4){
		bottom: -100%;
		left: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(360deg,transparent,red);
	}
		#start:hover span:nth-child(4){
		bottom: 100%;
		transition:1s;
	}
	.nav-item:hover{
		color:white;
			background: red;
			box-shadow: 0 0 10px red,0 0 40px red,
						0 0 80px red;
						transition: 1s;
	}



}

// --gallery styling--

#gallery{
	background: black;
		img{
			position: relative;
			left: 50%;
			top:50%;
			transform:translate(-50%);
			height: 90vh;
			width: 50vw;
		}
	#image-modal{
		
		height: 50vh;

	}
}

#home{
	#gal{
			position: relative;
			left: 50%;
			top:50%;
			transform:translate(-50%);
			height: 90vh;
			width: 50vw;
	}
	#image-modal{
		
		height: 50vh;
	}
	.contactBox{
		position: absolute;
		margin-top: 10px;
		width: 45vw;
		height: 55vh;
		background: white;

	}

}


// --contact styling--

#contact{
	// overflow: hidden;
	.box{
		position: absolute;
		margin-top: 10px;
		width: 45vw;
		height: 55vh;
		background: white;
	}
}

@media screen and (max-width: 1024px){
	#home{
		.contactBox{
		width: 45vw;
		height: 27vh;
		}

	}
	#contact{
		.box{
		width: 45vw;
		height:27vh;
		}
	}
}

@media screen and (max-width: 900px){
	#home{
		.contactBox{
		width: 45vw;
		height: 55vh;
		}

	}
	#gallery{
		img{
			width: 100vw;
		}
	}
	#contact{
		.box{
		width: 45vw;
		height:55vh;
		}
	}
}
@media screen and (max-width: 768px){
	#home{
		.contactBox{
		width: 90vw;
		height: 36vh;
		}

	}

	#contact{
		.box{
		width: 45vw;
		height: 36vh;
		}
	}
}
@media screen and (max-width: 400px){
	#home{
		.contactBox{
		width: 90vw;
		height: 47vh;
		}

	}

	#contact{
		.box{
		width: 90vw;
		height: 47vh;
		}
	}
}






